@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
address {
  font-style: normal;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: top;
}
.hidden {
  display: block;
  position: absolute;
  left: -1000%;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}
#skipNav {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 60;
}
#skipNav a {
  display: block;
  height: 1px;
  margin-bottom: -1px;
  font-size: 1.2em;
  color: #333;
  overflow: hidden;
  text-align: center;
}
#skipNav a:hover,
#skipNav a:focus,
#skipNav a:active {
  height: auto;
  padding: 10px 0;
  background: #f2f2f2;
}

* {
  box-sizing: border-box;
}
.wrap {
  width: 100%;
  overflow: hidden;
}

/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

/* header 공통영역 */

#headerArea {
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  z-index: 10;
  overflow: hidden;
  background: #fff;
  transition: background 0.3s;
}
#headerArea .headerInner {
  width: 1200px;
  margin: 0 auto;
  height: 120px;
}
#headerArea .headerInner a {
  transition: all 0.5s;
}
#headerArea .headerInner a:hover {
  color: #e71e10;
}
#headerArea h1 {
  float: left;
  margin: 45px 30px 0 0;
}
#headerArea h1 a {
  display: block;
  width: 140px;
  height: 40px;
  background: url(../images/logo.png) no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
#headerArea #gnb {
  width: 900px;
  float: left;
  height: 120px;
}
#gnb ul.dropdownmenu {
  float: left;
  width: 100%;
  padding: 40px 0;
  height: 350px;
}
#gnb ul.dropdownmenu li.menu {
  position: relative;
  float: left;
  width: 16.66%;
  height: 350px;
}

#gnb ul.dropdownmenu li a.depth1 {
  display: block;
  padding: 15px 0;
  font-size: 1.25em;
  text-align: center;
  transition: all 0.5s;
  position: relative;
  font-weight: 500;
}
#gnb ul.dropdownmenu li a.depth1::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 50%;
  bottom: 0;
  background: rgba(231, 30, 16, 0.6);
  transition: all 0.3s;
  transform-origin: 0%;
}
#gnb ul.dropdownmenu li:hover a.depth1::after {
  width: 110px;
  left: 14%;
}

/* 2depth */
#gnb ul.dropdownmenu li ul {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  padding: 15px 0;
  line-height: 2em;
  display: none;
}
#gnb ul.dropdownmenu li ul li {
  text-align: center;
  padding: 5px 0;
}
#gnb ul.dropdownmenu li ul li a {
  display: block;
  color: #666;
  letter-spacing: -0.05em;
  transition: all 0.5s;
}
#gnb ul.dropdownmenu li ul li a:hover {
  color: #e71e10;
  font-weight: 500;
}

/* 뎁스1
#headerArea #gnb li{
    font-size: 1.25em;
    float: left; 
    margin-right: 65px;
} */

#headerArea .topmenu {
  padding-top: 57px;
  float: right;
}
#headerArea .topmenu li {
  float: left;
  font-size: 0.93em;
}
#headerArea .topmenu li:nth-of-type(1) {
  margin-right: 8px;
}

/* footer 공통영역 */

#footerArea {
  background: #f8f8f8;
  height: 240px;
}
#footerArea .footerInner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
#footerArea a {
  color: #666;
}
#footerArea .footerWrap {
  font-size: 0.88em;
  color: #666;
  line-height: 1.5em;
}
#footerArea .footerWrap span a {
  color: #e71e10;
}
#footerArea .footerWrap ul {
  overflow: hidden;
}
#footerArea .footerWrap li {
  float: left;
  margin: 40px 40px 25px 0;
}
#footerArea .footerWrap address {
  margin-bottom: 40px;
}
#footerArea .footerWrap address span {
  margin: 0 10px;
}

#footerArea .sns {
  position: absolute;
  top: 100px;
  right: 0;
}
#footerArea .sns ul {
  overflow: hidden;
}
#footerArea .sns li {
  float: left;
  margin-right: 10px;
}
#footerArea .sns li a {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-indent: -9999px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
#footerArea .sns li a:hover {
  background-color: #e71e10;
}
#footerArea .sns ul li a {
  background-size: 75%;
}
#footerArea .sns ul li:nth-child(1) a {
  background-image: url(../images/sns_01.png);
}
#footerArea .sns ul li:nth-child(2) a {
  background-image: url(../images/sns_02.png);
}
#footerArea .sns ul li:nth-child(3) a {
  background-image: url(../images/sns_03.png);
}
#footerArea .sns ul li:nth-child(4) a {
  background-image: url(../images/sns_04.png);
}

#footerArea .family_wrap {
  position: relative;
}
#footerArea .family {
  width: 175px;
  height: 35px;
  position: absolute;
  top: -150px;
  right: 0;
}
#footerArea .family .arrow {
  display: block;
  padding: 12px 0 12px 15px;
  background: #ccc;
  color: #fff;
  border-radius: 30px;
  transition: all 0.3s;
  font-weight: 700;
}

#footerArea .family .arrow:hover {
  background: #fff;
  color: #e71e10;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 10%);
}
#footerArea .family .aList {
  width: 175px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  position: absolute;
  bottom: 45px;
  left: 0;
  display: none;
  padding: 5px 0;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 10%);
}
#footerArea .family .aList a {
  display: block;
  padding: 12px 0 12px 12px;
  color: #666;
  transition: all 0.3s;
  font-size: 0.88em;
}
#footerArea .family .aList a:hover {
  color: #333;
  font-weight: 500;
  color: #e71e10;
}
#footerArea .family i {
  margin-left: 35px;
}

#footerArea .topMove i {
  color: #e71e10;
  font-size: 3.5em;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 50;
}
