 /* 서브페이지 공통영역 */
@keyframes sub_depth{
  from{transform:translateY(30px); opacity:0;}
  to{transform:translateY(0); opacity:1;}
}
@keyframes sub_title{
  from{transform:translateY(30px); opacity:0;}
  to{transform:translateY(0); opacity:1;}
}
@keyframes sub_summary{
  from{transform:translateY(30px); opacity:0;}
  to{transform:translateY(0); opacity:1;}
}


 .main {
    width: 2000px;
    height: 550px;
    position: relative;
    left: 50%;
    top: 0;
    margin-left: -1000px;
    z-index: -50;
  }
  .main img {
    width: 2000px;
  }
  .main h3 {
    font-size: 2.25em;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 290px;
    margin-left: -80px;
    animation: sub_depth 1.3s forwards;
    opacity: 0;
    z-index: 1;
  }
  .main span {
    font-family: "Roboto", sans-serif;
    font-size: 120px;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e71e10;
    opacity: 0.3;
    position: absolute;
    top: 210px;
    left: 50%;
    transform: translateX(-50%);
  }
  .subNav {
    position: relative;
  }
  .subNav ul {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }
  .subNav ul::before {
    content: "";
    width: 2000px;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    top: 35px;
    left: 0;
  }
  .subNav ul li {
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
  }
  .subNav ul li a {
    display: block;
    font-size: 1.25em;
    color: #333;
    font-weight: 500;
    padding-bottom: 30px;
    transition: all 0.5s;
  }
  .subNav ul li i {
    margin-top: 5px;
    display: block;
  }
  .subNav ul li a:hover {
    color: #e71e10;
  }
  .subNav ul li .current {
    color: #e71e10;
  }
  
  #content {
    width: 1200px;
    margin: 0 auto;
  }
  #content .titleArea {
    text-align: center;
    margin-bottom: 150px;
  }

  #content .titleArea .lineMap {
    text-align: center;
    margin-top: 155px;
  }
  #content .titleArea .lineMap > i {
    color: #999;
  }
  #content .titleArea .lineMap a {
    color: #999;
    transition: all 0.4s;
  }
  #content .titleArea .lineMap a:hover {
    color: #e71e10;
  }
  #content .titleArea h2 {
    font-size: 3.25em;
    font-weight: 700;
    margin: 50px 0;
    animation: sub_title 1.3s forwards;
    animation-delay: .7s;
    opacity: 0;
  }
  #content .titleArea p {
    font-size: 1.5em;
    line-height: 1.5em;
    animation: sub_summary 1.3s forwards;
    animation-delay: .8s;
    opacity: 0;
  }
  #content .titleArea p span {
    color: #e71e10;
  }
  