@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,700;6..96,800;6..96,900&family=Noto+Serif+HK:wght@300;400;500;600;700;800;900&family=PT+Serif:wght@400;700&display=swap");
/* 
font-family: 'Bodoni Moda', serif;
font-family: 'Noto Serif HK', serif;
font-family: 'PT Serif', serif; 
*/

/* Reset CSS  */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  -webkit-text-size-adjust: none;
}
html {
  font-size: 16px;
}
body {
  font-family: "PT Serif", serif;
  font-size: 16px;
  color: #fff;
  background: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul,
ol,
dl {
  list-style: none;
}
img,
video {
  border: 0;
  vertical-align: top;
}
a,
a:link {
  color: #fff;
  text-decoration: none;
}
a:hover,
a:active {
  color: #fff;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select {
  vertical-align: middle;
}
label {
  cursor: pointer;
}
.blind,
legend,
hr,
caption {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -1000em;
}
i,
em,
address {
  font-style: normal;
  font-weight: normal;
}
p,
li,
dd {
  line-height: 1.5em;
}
.hidden,
#skipNav {
  display: block;
  position: absolute;
  left: -1000%;
  top: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}

/* 와이드pc 1280px이상 */

/* 헤더 공통 영역 */
#wrap {
  width: 100%;
  overflow: hidden;
}
#headerArea {
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 0;
}
.videoBox {
  width: 100%;
  height: 100%;
  position: absolute;
}
#videoBG,
#imgBG {
  position: fixed;
  left: 50%;
  top: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
}
/* on */
#headerArea.on {
  background: rgba(0, 0, 0, 0.8);
}
/* 햄버거메뉴 */
#headerArea .menuOpen {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 80px;
  height: 80px;
  font-size: 0;
  text-indent: -9999%;
  z-index: 99;
  display: none;
}
#headerArea .menuOpen span {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1px 0 0 -15px;
  display: block;
  width: 30px;
  height: 2px;
  background: #bd1c22;
}
#headerArea .menuOpen span::before,
#headerArea .menuOpen span::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 30px;
  height: 2px;
  background: #bd1c22;
  transition: transform 0.3s;
}
#headerArea .menuOpen span::before {
  top: 9px;
}
#headerArea .menuOpen span::after {
  top: -9px;
}

#headerArea .headerInner {
  width: 96%;
  margin: 0 3%;
  overflow: hidden;
}
#headerArea h1 {
  float: left;
}
#headerArea h1 a {
  background: url(../images/logo.png) no-repeat;
  width: 150px;
  text-indent: -9999px;
  display: block;
}
#headerArea #gnb {
  float: right;
  padding-top: 10px;
}
#headerArea #gnb ul {
  overflow: hidden;
}
#headerArea #gnb ul li {
  float: left;
}
#headerArea #gnb ul li a {
  color: #bd1c22;
  font-family: "Bodoni Moda", serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 10px;
  transition: all 0.5s;
}
#headerArea #gnb ul li a:hover {
  color: #fff;
}
#headerArea .menuOpen {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 80px;
  height: 80px;
  font-size: 0;
  text-indent: -9999%;
  z-index: 99;
  display: none;
}

.down {
  display: block;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  animation: scrolldown_wheel 2s infinite;
  background: url(../images/scrolldown.png) no-repeat;
  width: 40px;
  height: 23px;
}
@keyframes scrolldown_wheel {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(25px);
    opacity: 0;
  }
}

/* 푸터 공통 영역 */
#footerArea {
  background: #000;
}
#footerArea .footerInner {
  width: 96%;
  color: #bd1c22;
  overflow: hidden;
  padding: 50px 2%;
  position: relative;
}
#footerArea address {
  float: left;
  margin-top: 10px;
}
#footerArea span {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  float: right;
}

.topMove {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Bodoni Moda", serif;
  text-align: center;
  z-index: 50;
  position: fixed;
  right: 20px;
  bottom: 80px;
  background: url(../images/top.jpg) no-repeat;
  width: 100px;
  height: 84px;
  padding-top: 5px;
}
.topMove:hover {
  filter: invert(100%);
  transition: all 1s;
}

/* 일반 pc */
@media screen and (max-width: 1280px) {
}

/* 테블릿 */
@media screen and (max-width: 1024px) {
  /* 메뉴 모양 교체 */
  /* #headerArea #gnb{display: none;} */
  #headerArea .menuOpen {
    display: block;
  }

  /* gnb re design */
  #headerArea #gnb {
    float: none;
    font-size: 1.6rem;
    position: fixed;
    right: -100%;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    padding: 5rem 4rem 0;
  }
  #headerArea #gnb ul li {
    float: none;
  }
  #headerArea #gnb ul li a {
    line-height: 5rem;
  }

  #headerArea.on #gnb ul li a {
    line-height: 5rem;
  }

  #headerArea #gnb ul li a:hover {
    color: #bd1c22;
  }
  /* gnb active */
  #headerArea.active #gnb {
    right: 0;
  }
  #headerArea.active .nav_bg {
    display: block;
  }
  #headerArea.active .menuOpen span {
    background: rgba(255, 255, 255, 0);
  }
  #headerArea.active .menuOpen span::before {
    top: 0;
    transform: rotate(45deg);
  }
  #headerArea.active .menuOpen span::after {
    top: 0;
    transform: rotate(-45deg);
  }
}

/* 소형 테블릿 */
@media screen and (max-width: 768px) {
}

/* 모바일 */
@media screen and (max-width: 640px) {
  #footerArea .footerInner {
    padding: 50px 0 110px;
  }
  #footerArea address {
    float: none;
    font-size: 0.88em;
    text-align: center;
  }
  #footerArea span {
    float: none;
    text-align: center;
    font-size: 1.25rem;
  }
  #footerArea .topMove {
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    position: absolute;
  }
  #footerArea p {
    float: none;
  }
}

/* 최소 사이즈 처리 */
@media screen and (max-width: 480px) {
  #wrap {
    min-width: 320px;
  }
}
