html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
ul {
  list-style: none;
}
.hidden {
  display: block;
  position: absolute;
  z-index: 10;
  left: -1000%;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}

body {
  background: #f8f8f8;
  font-family: "Noto Sans KR", sans-serif;
}
.wrap {
  width: 100%;
  overflow: hidden;
}

.logo {
  display: block;
  width: 350px;
  height: 85px;
  background: url(../images/join_logo.png) 0 0 no-repeat;
  background-position: center;
  text-indent: -999px;
  overflow: hidden;
  margin: 50px auto;
}

/* ************************본문 */

h1 {
  text-align: center;
}
h1 a {
  display: inline-block;
  width: 350px;
  height: 85px;
  background: url(../images/join_logo.png) 0 0 no-repeat;
  text-indent: -9999%;
  font-size: 0;
  overflow: hidden;
}
#content {
  background: #fff;
  width: 60%;
  margin: 0 10% 100px 10%;
  padding: 10%;
  border-radius: 30px;
}

h2 {
  font-size: 1.75em;
}
p {
  margin: 10px 0 50px;
  color: #999;
}
dl {
  margin-bottom: 20px;
}
dl dt {
  font-weight: 500;
  margin: 0 0 10px 5px;
}
dl dd input,
select {
  width: 100%;
  padding: 25px 15px 20px 15px;
  border-radius: 15px;
  outline: 2px solid #ddd;
  border: none;
  box-sizing: border-box;
  font-size: 1.125em;
}
select {
  padding: 20px 15px 20px 15px;
}
dl dd input:focus {
  outline: 3px solid rgba(231, 30, 16, 0.7);
  box-sizing: border-box;
}
dl dd input::placeholder {
  font-size: 1.125rem;
  font-weight: 500;
  color: #ccc;
}

#login_button button,
#button input {
  text-align: center;
  width: 100%;
  padding: 20px;
  cursor: pointer;
  background: linear-gradient(to bottom, #e71e10 50%, #f12d1f 50%);
  background-size: 100% 200%;
  background-position: left top;
  border-radius: 15px;
  font-weight: 700;
  font-size: 1.25em;
  border: none;
  outline: none;
  color: #fff;
  margin: 20px 0;
  transition: all 0.3s ease-in-out;
}
#login_button button:hover,
#button input:hover {
  background-position: right bottom;
}

a {
  display: block;
  text-decoration: none;
  color: #666;
}
#search {
  display: flex;
  justify-content: center;
  margin: 20px 0 30px;
}
#search span {
  padding: 0 20px;
}
#search span:first-child {
  position: relative;
}
#search span:first-child::after {
  content: "";
  width: 1px;
  height: 15px;
  background: #bbb;
  position: absolute;
  top: 8px;
  right: 0;
}

#join_button {
  display: flex;
  justify-content: center;
  color: #333;
  font-size: 1.125em;
}
#join_button span {
  display: block;
  margin-right: 15px;
  font-weight: 500;
}
#join_button a {
  font-size: 1.125rem;
  font-weight: 700;
  color: #e71e10;
}

/* 휴대전화 */
.phone select {
  width: 30%;
  color: #333;
  font-size: 1.125em;
  /* appearance: none; */
}
.phone dd {
  display: flex;
  justify-content: space-between;
}
.phone dd input {
  width: 30%;
}
.phone dd span {
  display: block;
  margin-top: 20px;
}

/* 조회결과 */
#loadtext {
  display: block;
  background: #fff;
  width: 500px;
  margin: 0 auto 100px;
  padding: 70px;
  border-radius: 30px;
  display: none;
}
#loadtext p {
  font-size: 1.75em;
  font-weight: 700;
  color: #333;
  margin: 0 0 10px 0;
}
#loadtext p span {
  color: #e71e10;
}
#loadtext dl:nth-of-type(1) {
  margin-top: 50px;
}
#loadtext dl {
  margin: 25px 0;
}
#loadtext dl dt {
  font-weight: 500;
  margin: 0 0 10px 5px;
  font-size: 0.88em;
}
#loadtext dl dd {
  width: 100%;
  padding: 25px 15px 20px 15px;
  border-radius: 15px;
  /* outline: 1px solid #eee; */
  background: #f8f8f8;
  box-sizing: border-box;
  font-size: 1.125em;
}
#loadtext ul {
  margin: 70px 0 30px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
#loadtext ul li {
  width: 49%;
}
#loadtext ul li a {
  display: block;
  text-align: center;
  padding: 20px 0;
  border: 1px solid #e71e10;
  font-size: 1.125em;
  font-weight: 500;
  color: #e71e10;
  cursor: pointer;
  border-radius: 15px;
}
#loadtext ul li:nth-child(2) a {
  background: #e8171f;
  color: #fff;
}

/* 비밀번호 찾기 완료 */
#loadtext > a {
  text-align: center;
  width: 100%;
  padding: 20px;
  cursor: pointer;
  border-radius: 15px;
  font-weight: 700;
  font-size: 1.25em;
  color: #fff;
  margin: 20px 0;
  background: #e71e10;
  margin-top: 50px;
  box-sizing: border-box;
}
#loadtext > strong {
  color: #999;
}

/* 뒤로가기 */
.back i i {
  text-indent: -9999%;
  font-size: 0;
}
.back i {
  font-size: 1.75rem;
  color: #999;
}
.back {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
}
