.contentArea{
    width: 2000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    line-height: 2em;
}
section{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.contentArea .con_top{
    overflow: hidden;
    position: relative;
    padding: 100px 0;
}
.contentArea .con_top:hover h3{
    color: #e71e10;
    transform: scale(1.1);
}
.contentArea .con_top:hover span::after{
    transform: scale(1);
}
.con_top h3{
    font-size: 2.5em;
    display: block;
    float: left;
    margin: 250px 0 0 80px;
    transition: all .5s;
}
.con_top span{
    display: block;
    font-size: 30em;
    font-weight: 900;
    color: #f8f8f8;
    position: absolute;
    top: 230px;
    left: 10px;
    z-index: -1;
}

.con_top img{
    float: right;
    width: 650px;
    border-radius: 40px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 30%);
    margin: 50px 0;
}


.contentArea section:nth-child(2n) .con_top img{
    float: left;
}
.contentArea section:nth-child(2n) .con_top h3{
    margin-left: 250px;
}
.contentArea section:nth-child(2n) .con_top span{
    left: 750px;
}
.contentArea section:nth-child(2n) .con_top span::after{
    left: -160px;
}


.con_bottom{
    position: relative;
    overflow: hidden;
    width: 950px;
    margin: 0 auto 150px  auto;
    padding: 50px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, 5%);
    transition: all .5s;
}
.con_bottom:hover{
    transform: scale(1.05);
}
.con_bottom span{
    font-size: 2.5em;
    font-weight: 700;
    color: #e71e10;
}
.con_bottom p{
    font-size: 1.25em;
    font-weight: 700;
    margin: 30px 0;
}


.con_bottom strong{
    display: block;
    font-weight: 700;
    font-size: 1.5em;
    float: left;
    margin: 70px 0 0 80px;
}
.con_bottom strong::after{
    content: '';
    width: 200px;
    height: 3px;
    background: #e71e10;
    position: absolute;
    top: 325px;
    left: 72px;
}

.con_bottom ul{
    float: right;
    margin-top: 70px;
}

.con_bottom dl{
    overflow: hidden;
    font-size: 1.125em;
    position: relative;
}
.con_bottom dl i{
    margin-right: 10px;
    color: #e71e10;
}
.con_bottom dt{
    float: left;
    width: 180px;
    font-weight: 700;
}
.con_bottom dt::after{
    content: '';
    width: 1px;
    height: 20px;
    background: #ccc;
    position: absolute;
    top: 6px;
    left: 155px;
}
.con_bottom dd{
    float: left;
}

section>a dl{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #e71e10;
    color: #e71e10;
    font-size: 1.125em;
    letter-spacing: 10px;
    font-weight: 700;
    box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, 5%);
    overflow: hidden;
    padding: 12px 30px;
    transition: all .5s;
    margin-bottom: 100px;
}
section:nth-of-type(4)>a dl{
    margin-bottom: 200px;
}
section>a dl:hover{
    background: #e71e10;
    color: #fff;
}
section>a dt{
    float: left;
}
section>a dd{
    float: right;
}