.contentArea{
    position: relative;
}

.contentArea img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.contentArea img:nth-of-type(1)
{
    top: -135px;
}
.contentArea img:nth-of-type(2){
    top: 920px;
}
#calendar::after{
    content: '';
    width: 1920px;
    margin: 0 auto;
    height: 1050px;
    background: #f8f8f8;
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
 z-index: -10;
}

#calendar{
    width: 80%;
    padding: 70px;
    border-radius: 10%;
    margin: 0 auto 350px;
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 3%);
    font-family: 'Roboto', sans-serif;
}


