.subNav ul li {
  width: 400px;
}

/* search */

.serch_wrap {
  width: 1200px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 35px;
  margin-bottom: 70px;
}
.search_form {
  width: 800px;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
select,
input,
button,
textarea {
  padding: 20px;
  border-radius: 10px;
}
.search_form select {
  width: 150px;
}
.search_form input {
  width: 450px;
  margin: 0 10px;
}
.search_form button {
  width: 150px;
}

input,
select,
textarea {
  outline: none;
  border: 1px solid #ddd;
}
button {
  border: none;
  background: #e71e10;
  color: #fff;
}

/* list count */

.listcount {
  overflow: hidden;
  margin-bottom: 30px;
}
.listcount p {
  float: left;
  font-size: 1.125em;
  color: #666;
  margin-top: 15px;
}
.listcount p strong {
  color: #e71e10;
  font-size: 1.25em;
}
.listcount select {
  float: right;
  width: 100px;
  padding: 15px;
}
.listcount .list_type{
  float: right;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-right: 10px;
}
.listcount .list_type li{
  font-size: 1.25em;
  padding: 12px 15px;
  transition: all .3s;
}
.listcount .list_type li:hover{
  background: #f8f8f8;
}
.listcount .list_type li:nth-child(1){
  border-right: 1px solid #ccc;
}
.listcount .list_type.list li:nth-child(1) a{
  color: #e71e10;
}
.listcount .list_type.list li:nth-child(2) a{
  color: #bbb
}
.listcount .list_type.box li:nth-child(1) a{
  color: #bbb;
}
.listcount .list_type.box li:nth-child(2) a{
  color: #e71e10
}

/* 목록 리스트형 컨텐츠 */
.list_content.list li dl{
  display: flex;
  justify-content: space-around;
  background-color: #f3f3f3;
  font-size: 1.125em;
  overflow: hidden;
  padding: 20px 0;
  text-align: center;
}
.list_content.list .list_title {
  border-top: 2px solid #ececec;
  border-bottom: 2px solid #ececec;
}
.list_content.list .list_title dl{
  font-weight: 500;
}
.list_content.list .list_item dl {
  background: #fff;
  border-bottom: 3px solid #f8f8f8;
  transition: all .3s;
}
.list_content.list .list_item dl:hover{
  background: #f9f9f9
}

.list_content.list dl dd:nth-of-type(1) {
  width: 5%;
}
.list_content.list dl dt{
  width: 55%;
  text-align: left;
  margin-left: 5%;
}
.list_content.list dl dd:nth-of-type(2) {
  width: 10%;
}
.list_content.list dl dd:nth-of-type(3){
  width: 15%;
}
.list_content.list dl dd:nth-of-type(4){
  width: 10%;
}
.list_content.list .list_item dt p{
  display: none;
}


/* 목록 박스형 컨텐츠 */

.list_content.box .list_title,  
.list_content.box .list_item dd:nth-of-type(1),
.list_content.box .list_item dd:nth-of-type(2),
.list_content.box .list_item dd:nth-of-type(4){
  display: none;
}
.list_content.box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list_content.box .list_item{
  width: calc(50% - 10px);
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin: 10px 0;
  transition: all .3s;
}
.list_content.box .list_item:hover{
  border: 1px solid #e71e10;
}
.list_content.box .list_item:hover dt a{
  color: #e71e10;
}
.list_content.box dt a{
  font-size: 1.25em;
  font-weight: 500;
  transition: all .3s;
}
.list_content.box dt p{
  font-size: 1rem;
  font-weight: 400;
  margin: 20px 0;

  line-height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.list_content.box .list_item dd:nth-of-type(3){
  color: #999;
  border-top: 1px solid #ddd;
  padding-top: 15px;
  font-size: .88em;
}

/* 하단 버튼 */

.button_wrap {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0 100px;
}
.button_wrap a, .button_wrap button {
  display: block;
  padding: 15px;
  color: #e71e10;
  border: 1px solid #e71e10;
  border-radius: 10px;
margin-right: 5px;
  font-weight: 500;
}
.button_wrap .write {
  background: #e71e10;
  border: none;
  color: #fff;
  font-size: 1rem;
}


/* 페이지네이션 */

.page_num i{
  margin: 0 10px;
  color: #999;
}
.page_num{
  text-align: center;
  margin-top: 50px
}
.page_num b, .page_num a {
  display: inline-block;
  font-size: 1.125em;
  color: #999;
  padding: 8px 10px;
}
.page_num b{
  color: #fff;
  background: #e71e10;
  border-radius: 5px;
}



/* 글보기 */
.view_title li:first-child{
  background-color: #f5f5f5;
  font-size: 1.125em;
  padding: 20px 0 20px 15px;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-weight: 500;
}
.view_title li:nth-child(2){
  padding: 20px;
}
.view_title li:nth-child(2) span{
  display: inline-block;
  font-size: .88em;
  color: #999;
}
.view_title li span:nth-child(1)::after, .view_title li span:nth-child(2)::after{
  content: '/';
  margin: 0 10px;
}
.view_title li:nth-child(2) i{
  margin-right: 2px;
}
.view_title li:nth-child(2) i i{
  text-indent: -9999px;
  font-size: 0;
} 
.view_content{
  padding: 30px;
  border: 2px solid #ececec;
  border-radius: 15px;
  margin-bottom: 20px;
  min-height: 300px;
  line-height: 2em;
}



/* 글작성 */
.write_modify form{
  padding: 70px;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0,  .1);
  margin-bottom: 150px;
}
#content .write_modify input, #content .write_modify textarea{
  width: 100%;
}
.write_modify input:focus, .write_modify textarea:focus{
  outline: 2px solid rgba(231, 30, 16, .5);
}
.write_modify li{
  margin: 30px 0;
}
.write_modify dt{
  font-size: 1.125em;
  font-weight: 500;
  margin-bottom: 15px;
}

.write_modify ul li:nth-child(3) dt{
  display: flex;
}
.write_modify .check input[type="checkbox"] + label::before {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 50%;
  content: "";
  margin: 0px 5px -7px 0px;
  background: url(../images/checked_1.png) -2px -2px;
}
.write_modify .check input[type="checkbox"] {
  display: none;
}
.write_modify .check input[type="checkbox"] + label {
  cursor: pointer;
  font-size: .88em;
  color: #999;
}
.write_modify .check input[type="checkbox"]:checked + label::before {
  background: #e71e10 url(../images/checked_2.png) center center no-repeat;
  border: 2px solid #e71e10;
}
#content .write_modify textarea{
  margin: 20px 0;
  height: 300px;
}
.write_modify .button_wrap{
  margin: 0px;
}