#content .contentArea {
  width: 1200px;
  margin: 0 auto;
}
.slideMenu {
  overflow: hidden;
  margin-left: 100px;
  padding: 20px 0;
}
.slideMenu .current a {
  background: #e71e10;
  color: #fff;
  opacity: 1;
}
.slideMenu li {
  float: left;
  margin: 0 15px;
}
.slideMenu li a {
  display: block;
  font-size: 1.25em;
  width: 300px;
  height: 60px;
  box-shadow: 2px 2px 20px 0 rgb(0 0 0 / 10%);
  background: #fff;
  border-radius: 30px;
  padding: 18px 0;
  text-align: center;
  transition: all 0.5s;
  opacity: 0.6;
  font-weight: 500;
  transition: all 0.5s;
}

.slideMenu li:hover a {
  opacity: 1;
}
.faq {
  margin-bottom: 200px;
  position: relative;
}
.faq .all {
  font-size: 1.125em;
  color: #e71e10;
  font-weight: 500;
  position: absolute;
  top: 70px;
  right: 0;
}
.faq .all i {
  margin-left: 5px;
}
.faq h3 {
  font-weight: 700;
  font-size: 2em;
  margin: 80px 0;
  text-align: center;
}

.faq li {
  background: #f8f8f8;
  border-radius: 16px;
  margin-bottom: 16px;
  clear: both;
}
.faq li:hover span:nth-child(1) {
  color: #e71e10;
}
.faq .trigger {
  padding: 35px;
  display: block;
  overflow: hidden;
}
.faq .trigger span:nth-of-type(1) {
  display: block;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 1.25em;
  float: left;
  transition: all 0.3s;
}
.faq .trigger span:nth-of-type(2) i {
  float: right;
  font-size: 1.25em;
  color: #999;
  margin-top: 5px;
}

.faq .a {
  font-size: 1.125em;
  color: #666;
  padding: 0 50px 40px 50px;
  line-height: 2em;
  text-align: justify;
  display: none;
}
.faq .a span {
  display: block;
  color: #e71e10;
  font-weight: 700;
  font-size: 1.25em;
  margin-right: 10px;
}
.faq .a dt {
  margin-bottom: 15px;
}
.faq .a dd {
  font-weight: 300;
  margin: 8px 0;
}
.faq .a dd strong {
  font-weight: 500;
}
.faq .con2 .a {
  text-align: left;
}
.faq .con2 .a {
  margin-bottom: 20px;
}
.faq .con2 .a a {
  display: block;
  color: #e71e10;
  font-weight: 500;
}

/* toggle */
.faq article.show .trigger {
  display: block;
}
.faq article.show .trigger span:nth-of-type(1) {
  color: #e71e10;
}
