@keyframes top{
  from{transform: translateY(50px); opacity:0;}
  to{transform:translateY(0); opacity:1;}
}
@keyframes left{
  from{transform: translateX(100px); opacity:0;}
  to{transform:translateX(0); opacity:1;}
}


/* scroll event */
.contentArea h3.scroll_move, .contentArea p.scroll_move, section h3.scroll_move, section .tab_menu.scroll_move, .contlist.scroll_move  ul{
  animation: top 1s forwards;
}


/* opacity */
.contentArea h3, .contentArea p, section h3, section .tab_menu, section .contlist ul{
  opacity: 0;
}


#content {
  width: 100%;
}
.contentArea {
  position: relative;
  text-align: center;
}
.contentArea h3 {
  display: block;
  font-size: 2.5em;
}
.contentArea p {
  font-size: 1.5em;
  line-height: 2em;
  margin: 50px 0 120px;
}
.contentArea p span {
  color: #e71e10;
}
.contentArea > img {
  position: absolute;
  top: 1230px;
  left: 0;
}
.contentArea .con_top {
  overflow: hidden;
  width: 1300px;
  margin: 0 auto;
  padding: 50px;
  background: #fff;
  border-radius: 100px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 5%);
}
.con_top::after {
  content: "";
  width: 2000px;
  height: 700px;
  border-radius: 0 400px 0 0;
  background: #f8f8f8;
  position: absolute;
  top: 550px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.con_top img {
  border-radius: 50%;
  float: left;
  width: 500px;
}
.con_top ul {
  float: right;
  width: 620px;
  position: relative;
  line-height: 2em;
  text-align: justify;
  font-weight: 500;
  margin-top: 30px;
}
.con_top ul h4 {
  font-size: 2.25em;
  font-weight: 500;
  color: #e71e10;
  margin-bottom: 50px;
}
.con_top ul h4::after {
  content: "";
  width: 620px;
  height: 1px;
  background: #ccc;
  position: absolute;
  left: 0;
  top: 140px;
}
.con_top ul li {
  margin: 15px 0;
}
.con_top ul li strong {
  color: #e71e10;
}
.con_top ul li:nth-of-type(4) {
  margin-bottom: 30px;
}
.con_top ul li:nth-of-type(5) {
  color: #999;
}
.con_top ul li:nth-of-type(6) {
  font-weight: 700;
}
section {
  width: 1200px;
  margin: 0 auto;
}
section ul span {
  display: block;
  font-weight: 700;
}
section > h3 {
  margin: 150px 0;
}
section h4 {
  display: none;
}
section > ul {
  overflow: hidden;
  position: relative;
  top: -30px;
  left: 390px;
}

section > ul li a {
  font-size: 1.125em;
  width: 200px;
  height: 50px;
  border: 1px solid #e71e10;
  background: #fff;
  border-radius: 30px;
  padding: 12px;
  float: left;
  transition: all 0.5s;
}

section > ul li a:first-child {
  margin-right: 30px;
}
.icon {
  overflow: hidden;
  margin: 120px 0 70px;
}
.icon li {
  float: left;
  width: 320px;
  height: 200px;
  border-radius: 100px;
  background: rgba(231, 30, 16, 0.03);
  margin-left: -40px;
  position: relative;
}
.icon li:nth-of-type(1) {
  margin-left: 0;
}
.icon img {
  width: 80px;
  margin: 40px 0 20px;
}
.icon i {
  position: absolute;
  top: 95px;
  left: 290px;
}
.contlist{
  display: none;
}
.process_1{
  margin-bottom: 200px;
}
.process_1 ul:nth-of-type(2) {
  line-height: 2em;
  margin-left: 110px;
  text-align: left;
}
.process_1 ul:nth-of-type(2) i {
  color: #e71e10;
  margin-right: 5px;
}
.process_2 .icon li {
  width: 270px;
}
.process_2 i {
  left: 240px;
}
.bottom_text {
  text-align: left;
  line-height: 2em;
  margin: 50px 0 0 110px;
  position: relative;
  padding: 100px 0 200px;
}
.bottom_text span {
  display: block;
  font-size: 1.125em;
  font-weight: 500;
}
.bottom_text dl {
  margin-top: 50px;
}
.bottom_text dt {
  font-size: 1.125em;
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;
}
.bottom_text dt::after {
  content: "";
  width: 200px;
  height: 2px;
  background: #333;
  position: absolute;
  top: 35px;
  left: 0;
}
.bottom_text dl i {
  color: #e71e10;
  margin-right: 10px;
}
.bottom_text::after {
  content: "";
  width: 2000px;
  height: 950px;
  border-radius: 0 400px 0 0;
  background: #f8f8f8;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.bottom_text > img:nth-of-type(1) {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.bottom_text > img:nth-of-type(2) {
  position: absolute;
  top: 920px;
  left: 50%;
  transform: translateX(-50%);
}
