
.contentArea{
    width: 1200px;
    margin: 0 auto;
    line-height: 2em;
    position: relative;
}

/* 탭박스 */


.contentArea .current{
   border-bottom: 2px solid #e71e10;
}
.contentArea .current a{
    color: #e71e10;
}


.contentArea>ul{
    overflow: hidden;
    margin-left: 110px;
    padding: 15px 0 50px;
}
.contentArea>ul li{
    text-align: center;
    float: left;
    width: 300px;
    height: 60px;
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 10%);
    padding-top: 12px;
    margin: 0 15px;
    font-size: 1.25em;
    font-weight: 700;
}
.contentArea>ul li:nth-child(1){
    border-radius: 40px 0 40px 0;
}
.contentArea ul li:nth-of-type(2){
    border-radius: 20px;
}
.contentArea ul li:nth-of-type(3){
    border-radius: 0 40px 0 40px;
}
.contentArea li a{
    transition: all .5s;
}
.contentArea li:hover{
    border-bottom: 2px solid #e71e10;
}
.contentArea li:hover a{
    color: #e71e10;
}


.contentArea section h3{
    display: none;
}
/* .contentArea section:nth-of-type(2), .contentArea section:nth-of-type(3){
    display: none;
} */

section{
    margin: 100px 0 200px;
}
section::after{
    content: '';
    height: 2270px;
    border-right: 5px dotted #ccc;
    position: absolute;
    top: 240px;
    left: 415px;
}
.contentArea span{
    content: '';
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 31em;
    color: #f8f8f8;
    position: absolute;
    top: 200px;
    left: 900px;
    z-index: -1;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.contentArea section:nth-of-type(2){
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}
section dl{
    overflow: hidden;
    margin: 50px 0 50px 260px;
    padding-left: 250px;
    position: relative;
}
section dt{
    float: left;
    margin-left: -250px;
    font-size: 2.5em;
    font-weight: 700;
    color: #e71e10;
}
section dt::after{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 5px solid #e71e10;
    position: absolute;
    top: 8px;
    left: 148px;
    z-index: 1;
    transition: all .5s;
}
section dl:hover dt::after{
    background: #e71e10;
}
section dd strong{
    margin-right: 20px;
}
