.hidden {
  display: block;
  position: absolute;
  left: -1000%;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}
dd,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
body {
  background: #f8f8f8;
  font-family: "Noto Sans KR", sans-serif;
}
.wrap {
  width: 100%;
  overflow: hidden;
}
.logo {
  display: block;
  width: 350px;
  height: 85px;
  background: url(../images/join_logo.png) 0 0 no-repeat;
  background-position: center;
  text-indent: -999px;
  overflow: hidden;
  margin: 50px auto;
}
#content {
  background: #fff;
  width: 70%;
  margin: 0 7% 100px 7%;
  padding: 8%;
  border-radius: 30px;
}

h2 {
  font-size: 1.75em;
  text-align: center;
  margin-bottom: 80px;
}
dl {
  margin: 30px 0;
}
dl dd input,
select,
textarea {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 1em;
  margin-bottom: 10px;
  box-sizing: border-box;
}
dl dd input::placeholder,
select::placeholder,
textarea::placeholder {
  color: #ccc;
}
dl dd input:focus,
select:focus {
  outline: 1px solid #333;
}
dl dt {
  font-weight: 500;
  margin: 0 0 15px 5px;
}
dl dt::after {
  content: "*";
  color: #e71e10;
  margin-left: 5px;
}
dl:last-child dt::after {
  content: "";
}

dl:nth-child(6) select {
  width: 31%;
  color: #333;
  /* appearance: none; */
}
dl:nth-child(6) dd,
dl:nth-child(7) dd {
  display: flex;
  justify-content: space-between;
}
dl:nth-child(6) dd input {
  width: 31%;
}
dl:nth-child(7) dd input {
  width: 47%;
}
dl:nth-child(6) dd span,
dl:nth-child(7) dd span {
  display: block;
  margin-top: 20px;
}
ul {
  display: flex;
  margin-top: 70px;
}
ul li {
  width: 100%;
}
ul li a {
  display: block;
  text-align: center;
  padding: 20px 0;
  border: 1px solid #e71e10;
  font-size: 1.125em;
  font-weight: 500;
  color: #e71e10;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 15px;
}
ul li:nth-child(2) a {
  background: #e8171f;
  color: #fff;
}

#loadtext span,
#loadtext2 span,
#loadtext3 span,
#loadtext4 span,
#loadtext5 span {
  font-size: 0.88em;
  margin-left: 5px;
}

dl.fail dd input {
  outline-color: #e71e10;
}
dl.success dd input {
  outline-color: #008000;
}

dl.fail dd #loadtext span,
dl.fail dd #loadtext2 span,
dl.fail dd #loadtext3 span,
dl.fail dd #loadtext4 span,
dl.fail dd #loadtext5 span {
  color: #e71e10;
}
dl.success dd #loadtext span,
dl.success dd #loadtext2 span,
dl.success dd #loadtext3 span,
dl.success dd #loadtext4 span,
dl.success dd #loadtext5 span {
  color: #008000;
}

/* 회원정보수정 */

.modify h2 {
  text-align: left;
  font-size: 1.75em;
  margin: 0;
}
.modify p {
  margin: 20px 0 50px;
  color: #999;
}
.modify dl:nth-of-type(1) {
  margin-top: 50px;
}

/* 뒤로가기 */
header .back i i {
  text-indent: -9999%;
  font-size: 0;
}
header .back i {
  font-size: 1.75rem;
  color: #999;
}
header .back {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
}
