.sub_nav ul{
    width: 100%;
}

#content>span{
    display: block;
    font-size: 1.75em;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}
.con1, .con3, .con5{
    background: #f8f8f8;
    padding: 50px 0;
}
.con2, .con4{
    padding: 50px 0;
}
.inner, #content>span{
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.inner h3{
    font-size: 1.5em;
    font-weight: 700;
}
.inner>span{
    display: block;
    margin: 10px 0;
}
.inner .con_top{
    display: flex;
    justify-content: space-between;
}
.inner .con_top>span{
    display: block;
    width: 50%;
}
.inner .con_top img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}
.inner .con_right{
    width: 45%;
}
.inner .con_right p{
    margin-top: 40%;
    font-size: 1.4em;
    font-weight: 500;
    text-align: justify;
}
.inner .con_right p strong{
    color: #e71e10;
    
}
.con_right a{
    margin-top: 10px;
    font-weight: 500;
    display: block;
    color: #e71e10;
}
.con_right a i{
    margin-left: 5px;
}
.con1 .con_right p span, .con4 .con_right p span{
    font-size: 1.3rem;
}
.con2 .inner h3, .con2 .inner span, .con4 .inner h3, .con4 .inner span{
    text-align: right;
}
.con5{
    border-bottom: 20px solid #fff;
}
