#headerArea {
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
}

.main_sub {
  margin-top: 60px;
  width: 100%;
  position: relative;
}
.main_sub img {
  width: 100%;
}
.main_sub h3 {
  font-size: 1.75em;
  font-weight: 400;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 38%;
  z-index: 1;
}
.main_sub span {
  font-family: "Roboto", sans-serif;
  font-size: 2.8em;
  font-weight: 900;
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e71e10;
  opacity: 0.1;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
}

/* 서브네비공통 */

.sub_nav{
	position: relative;
}
.sub_nav ul{
  display: flex;
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  justify-content: center;
}
.sub_nav li {
  width: auto;
  height:auto;
  margin: 0 1%;
}
.sub_nav .current{
  background: #e71e10;
  color: #fff;
  font-weight: 700;
  opacity: 1;
}
.sub_nav li a {
  display: block;
  text-align: center;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  border-radius: 30px;
  padding: 8px 15px;
  font-weight: 500;
  font-size: 0.88em;
  opacity: 0.6;
}

.lineMap {
  margin-top: 40px;
  font-size: 0.75em;
}
.lineMap > i {
  color: #999;
}
.lineMap a {
  color: #999;
}

.lineMap {
  padding-bottom: 20px;
  text-align: center;
}
#content>h2 {
  margin: 35px 0 50px;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}
#content>p {
  margin: 0 5%;
  font-size: 1.125em;
  line-height: 1.5em;
  margin-bottom: 40px;
  text-align: center;
}
#content>p span {
  color: #e71e10;
  font-weight: 700;
}
