body {
  background: #f8f8f8;
}
.logo {
  margin: 50px auto;
  display: block;
  width: 350px;
  height: 85px;
  text-indent: -999px;
  font-size: 0;
  background: url(../images/join_logo.png);
}
#content {
  background: #fff;
  width: 900px;
  margin: 0 auto 100px;
  padding: 70px;
  border-radius: 30px;
}


.join {
  text-align: left;
  position: relative;
}
.join h2 {
  font-size: 1.75em;
  text-align: center;
  margin-bottom: 80px;
}
.join h3 {
  font-size: 1.25em;
  margin: 70px 0 15px;
  position: relative;
}
.join h3::after {
  content: "(필수)";
  font-size: 0.88em;
  color: #e71e10;
  font-weight: 400;
  margin-left: 10px;
}
.join .policy {
  padding: 25px;
  overflow-y: scroll;
  height: 180px;
  border: 1px solid #ddd;
  background: #fff;
  font-size: 14px;
  line-height: 1.5em;
}
.join .check {
  margin-top: 20px;
}
.allcheck {
  padding: 30px 0;
  border-top: 2px dashed #eee;
  margin: 50px 0 70px;
}
.allcheck span {
  font-weight: 700;
  color: #e71e10;
  font-size: 1.125em;
}
.join .button {
  text-align: center;
  width: 100%;
}
.join .button a,
.join .button button {
  display: inline-block;
  width: 48%;
  padding: 20px 0;
  border: 1px solid #e71e10;
  font-size: 1.125em;
  font-weight: 500;
  color: #e71e10;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 15px;
}
.join .button .ok {
  background: #e8171f;
  color: #fff;
}

input[type="checkbox"] + label::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid #ddd;
  border-radius: 50%;
  content: "";
  margin: 0px 15px -7px 0px;
  background: url(../../common/images/checked_1.png);
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  cursor: pointer;
}
input[type="checkbox"]:checked + label::before {
  background: #e71e10 url(../../common/images/checked_2.png) center center no-repeat;
  border: 2px solid #e71e10;
}
