.contentArea{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

section span{
    font-weight: 700;
    font-size: 1.5em;
}
section span:nth-of-type(2){
    font-weight: 500;
}
section h3{
    font-size: 2.5em;
    margin: 50px 0;
}
section p{
    font-size: 1.25em;
    margin-top: 55px;
    line-height: 1.5em;
}
section>a img{
    width: 700px;
    margin: 100px 0;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 20%);
}
section ul{
    overflow: hidden;
}
section li{
    float: left;
    margin: 0 10px;
    padding: 10px 0;
}
section li img{
    width: 280px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 20%);
}
section li span{
    display: block;
}

section:nth-of-type(1){
    background: url(../images/content6/bg_02.png);
}
