

/* TOP animation */

.keyword_warp {
  overflow: hidden;
  position: relative;
  margin-bottom: 200px;
}
.keyword_warp > span {
  font-size: 10em;
  font-weight: 900;
  color: #f8f8f8;
  z-index: -1;
  position: absolute;
  top: 100px;
  left: 0;
}

.keyword_warp strong {
  float: left;
  font-size: 2.5em;
  color: #e71e10;
  margin: 170px 0 0 100px;
}
.keyword_warp .keyword {
  float: right;
}
.keyword_warp ul {
  overflow: hidden;
  padding: 0 20px;
}
.keyword_warp li {
  position: relative;
  float: left;
  text-align: center;
  margin-left: -2px;
}

.keyword_warp li span {
  width: 200px;
  font-size: 1.125em;
  font-weight: 500;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  padding: 0 10px;
  line-height: 1.5em;
}

.circle_wrap {
  width: 200px;
  height: 200px;
  transform: rotate(270deg);
}
.circle_wrap.re {
  transform: rotate(90deg);
}
.circle {
  position: relative;
  overflow: hidden;
  height: 50%;
}
.circle:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #ccc;
}

@keyframes spin_circle-top {
  from {
    transform: rotate(-135deg);
  }
  to {
    transform: rotate(45deg);
  }
}
@keyframes spin-circle-bottom {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(225deg);
  }
}

.keyword_warp:hover .circle.top:after {
  border-left-color: #e71e10;
  border-top-color: #e71e10;
  animation: spin_circle-top 0.7s 1 linear both;
}

.keyword_warp:hover .circle.bottom:after {
  border-left-color: #e71e10;
  border-top-color: #e71e10;
  animation: spin-circle-bottom 0.7s 0.7s 1 linear both;
}

.circle.bottom:after {
  top: -101px;
}

/* scroll animation */
@keyframes top {
  from {transform: translateY(150px); opacity: 0;}
  to {transform: rotate(0); opacity: 1;}
}
@keyframes top2 {
  from {transform: translateY(60px); opacity: 0;}
  to {transform: rotate(0); opacity: 1;}
}
@keyframes left{
  from{transform: translateX(-100px); opacity:0;}
  to{transform:translateX(0); opacity:1;}
}

section.scroll_move{
  animation: top 1.3s forwards;
}

.keyword_warp.scroll_move strong{
  animation: top2 1.3s forwards;
}
.keyword_warp.scroll_move>span{
  animation: left 1.3s forwards;
}

.keyword_warp strong, .keyword_warp>span, section{
  opacity: 0;
}




/* content */

.contentArea {
  width: 1200px;
  margin: 0 auto;
}

.contentArea section {
  overflow: hidden;
  position: relative;
  margin-bottom: 200px;
  padding: 15px;
}
.contentArea section > img {
  width: 500px;
  border-radius: 100px;
  float: left;
  transition: all 0.5s;
}
section > span {
  font-weight: 100;
  font-size: 0.75em;
  color: #fff;
  position: absolute;
  bottom: -50px;
  transition: all 0.5s;
  line-height: 1.5em;
  background: rgba(0, 0, 0, 30%);
}
.contentArea section:hover > img {
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 20%);
  border-radius: 0;
}
.contentArea section:hover li:nth-of-type(2) {
  transform: scale(1.05);
}
.contentArea section:hover span {
  transform: translateY(-75px);
}
.contentArea section ul li:nth-of-type(2) {
  transition: all 0.5s;
  transform-origin: 0;
}

section:nth-of-type(2n-1) > span {
  left: 30px;
}
section:nth-of-type(2n) > span {
  right: 90px;
  text-align: right;
}
section ul {
  margin-top: 70px;
  float: left;
  width: 550px;
  line-height: 2em;
  position: relative;
  padding: 0 15px;
  text-align: justify;
}
section:nth-of-type(2n-1) ul {
  margin-left: 60px;
}
section:nth-of-type(2n) ul {
  margin-right: 60px;
}
section ul h3 {
  font-size: 2.25em;
  line-height: 1.5em;
}

section ul li:nth-of-type(2) {
  margin: 40px 0 30px;
  font-size: 1.25em;
  font-weight: 500;
  color: #e71e10;
}
section ul li:nth-of-type(3) {
  font-size: 1.125em;
}
