@keyframes top{
    from{transform: translateY(50px); opacity:0;}
    to{transform:translateY(0); opacity:1;}
}
@keyframes left{
    from{transform: translateX(-50px); opacity:0;}
    to{transform:translateX(0); opacity:1;}
}
@keyframes right{
    from{transform: translateX(50px); opacity:0;}
    to{transform:translateX(0); opacity:1;}
}


/* scroll event */
.contentArea h3.scroll_move, .contentArea p.scroll_move{
    animation: top 1s forwards;
}
.contentArea .greetings_wrap:nth-of-type(1).scroll_move img, .contentArea .greetings_wrap.scroll_move .text_wrap_2{
    animation: left 1.3s forwards;
}
.contentArea .greetings_wrap.scroll_move .text_wrap, .contentArea .greetings_wrap:nth-of-type(2) img.scroll_move{
    animation: right 1.3s forwards;
}

/* opacity */
.contentArea>h3, .contentArea>p, .contentArea .greetings_wrap img,.contentArea .greetings_wrap .text_wrap.scroll_move, .contentArea .greetings_wrap .text_wrap, .contentArea .greetings_wrap .text_wrap_2{
    opacity: 0;
}


/* **************************************** content */

#content .contentArea{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.contentArea>h3{
    font-size: 2.5em;
    font-weight: 700;
}
.contentArea>p{
    margin: 30px 0 120px;
    font-size: 1.5em;
    font-weight: 500;
}
.contentArea>p span{
    color: #e71e10;
}
.contentArea .greetings_wrap{
    overflow: hidden;
    margin-bottom: 200px;
    padding-bottom: 12px;
}
.contentArea .greetings_wrap img{
    float: left;
}
.contentArea .greetings_wrap:nth-of-type(1){
    background: url(../images/content1/sub1_background_01.png) no-repeat;
}
.contentArea .greetings_wrap:nth-of-type(2){
    background: url(../images/content1/sub_background_02.png)650px 0 no-repeat;
}
.contentArea .greetings_wrap:nth-of-type(1) img{
    margin-left: 15px;
}
.contentArea .text_wrap, .text_wrap_2{
    width: 510px;
    float: left;
    text-align: justify;
    line-height: 1.5em;
}
.contentArea .text_wrap{
    margin-left: 120px;
}
.contentArea .text_wrap_2{
    margin-right: 130px;
}
.contentArea .text_wrap p, .text_wrap_2 p{
    margin-bottom: 25px;
}
.contentArea .signiture>span{
    display: block;
}
.contentArea .text_wrap .signiture, .text_wrap_2 .signiture{
    text-align: right;
    float: left;
    margin: 0 15px 0 225px;
}
.contentArea .greetings_wrap>img{
    transition: all .5s;
}
.contentArea .greetings_wrap:hover >img{
    transform: scale(1.05);
}