/* 비전 및 경영목표 본문 영역 */
@keyframes top{
    from{transform: translateY(60px); opacity:0;}
    to{transform:translateY(0); opacity:1;}
}
@keyframes top2{
    from{transform: translateY(30px); opacity:0;}
    to{transform:translateY(0); opacity:1;}
}
@keyframes left{
    from{transform: translateX(-300px); opacity:0;}
    to{transform:translateX(0); opacity:1;}
}

.contentArea .mission_vision.scroll_move, .goal.scroll_move{
    animation: top 1.3s forwards;
}
.contentArea h3:nth-of-type(2).scroll_move, .contentArea h3:nth-of-type(3).scroll_move{
    animation: top2 1.3s forwards;
}
.environment.scroll_move.scroll_move{
    animation: left 1.3s forwards;
}

.contentArea .mission_vision, .contentArea h3:nth-of-type(2), .contentArea h3:nth-of-type(3), .environment, .goal{
    opacity: 0;
}


#content .contentArea{
    width: 1200px;
    margin: 0 auto;
    line-height: 1.5em;
    position: relative;
    text-align: center;
}

.contentArea>h3{
    font-weight: 700;
    font-size: 2.25em;
}
.contentArea .mission_vision dt{
    font-weight: 700;
}

.contentArea .mission_vision{
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 2px 2px 30px 0 rgb(0 0 0 / 10%);
    margin-bottom: 200px;
    transition: all .5s;
}
.contentArea .mission_vision:hover{
    transform: scale(1.05);
}
.contentArea .mission_vision::after{
    content: '';
    width: 2px;
    height: 195px;
    background: #e6e6e6;
    position: absolute;
    top: 50px;
    left: 570px;
}
.contentArea .mission_vision li{
    float: left;
    padding: 65px 205px 65px 50px;
    text-align: left;
}
.contentArea .mission_vision li:nth-of-type(1){
    background: url(../images/content2/vision_01.png) 400px 90px no-repeat;
}
.contentArea .mission_vision li:nth-of-type(2){
    background: url(../images/content2/vision_02.png) 460px 90px no-repeat;
}
.contentArea .mission_vision span{
    color: #e71e10;
    font-weight: 700;
}
.contentArea .mission_vision dl{
    text-align: left;
}
.contentArea .mission_vision dt{
    font-size: 1.5em;
    margin: 20px 0;
    line-height: 1.25em;
}
.contentArea .mission_vision dd{
    font-weight: 500;
    width: 300px;
}
.contentArea ul img{
    display: block;
}

.contentArea .environment{
    overflow: hidden;
}
.contentArea .environment li{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 2px 2px 30px 0 rgb(0 0 0 / 10%);
    float: left;
    margin: 100px 50px 200px;
}
.contentArea .environment li img{
    margin: 55px 0 40px 105px;
    transition: all .5s;
}
.contentArea .environment li:hover img{
    transform: scale(1.1);
}
.contentArea .environment li span{
    display: block;
    width: 150px;
    margin: 0 auto;
    font-weight: 500;
}


.contentArea::after{
    content: '';
    width: 2000px;
    height: 1200px;
    border-radius: 0 400px 0 0;
    background-color: #f8f8f8;
    position: absolute;
    top: 800px;
    left: -400px;
    z-index: -1000;
}
.contentArea .goal ul:nth-child(1){
    overflow: hidden;
    padding: 100px 10px 20px;
}
.contentArea .goal ul:nth-child(2){
    overflow: hidden;
    padding: 20px 10px 350px;
    margin: 0 200px;
}
.contentArea .goal li{
    float: left;
    width: 370px;
    height: 300px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 2px 2px 30px 0 rgb(0 0 0 / 10%);
    margin: 0 10px;
    position: relative;
}

.contentArea .goal dl{
    position: relative;
}
.contentArea .goal dt{
    font-size: 1.25em;
    font-weight: 700;
    margin: 50px 0 65px;
}
.contentArea .goal dt::after{
    content: '';
    width: 325px;
    height: 1px;
    background: #333;
    position: absolute;
    top: 55px;
    left: 25px;
}
.contentArea .goal dd{
    line-height: 2em;
    font-size: 1.125em;
}